@tailwind base;
@tailwind components;
@tailwind utilities;
@font-face {
  font-family: 'Red Hat Display';
  src: url('/fonts/RedHat/RedHatDisplay-Regular.ttf') format('truetype');
  font-weight: 400; /* Normal weight */
  font-style: normal;
}

@font-face {
  font-family: 'Red Hat Display';
  src: url('/fonts/RedHat/RedHatDisplay-Bold.ttf') format('truetype');
  font-weight: 700; /* Bold weight */
  font-style: normal;
}

@font-face {
  font-family: 'Red Hat Display';
  src: url('/fonts/RedHat/RedHatDisplay-Italic.ttf') format('truetype');
  font-weight: 400; /* Italic */
  font-style: italic;
}


:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    /* --background: #0a0a0a; */
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
